<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.juan.chatnube" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".Aplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="WAYTA"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >
        <activity
            android:name=".Main.MainActivity2"
            android:label="WAYTA"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LogIn.LoginActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".LogIn.SingUp_activity"
            android:parentActivityName=".LogIn.LoginActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Menu.EditFriendsActivity"
            android:label="Buscar Amigos"
            android:parentActivityName=".Main.MainActivity2"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main.MainActivity2" />

        </activity>
        <activity
            android:name=".Main.ChatActivity"
            android:label="@string/title_activity_chat"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Menu.PetitionsActivity"
            android:label="@string/title_activity_petitions"
            android:screenOrientation="portrait"
            >
        </activity>

        <service android:name=".Notifications.Notificaciones" >
        </service>

        <activity
            android:name=".Menu.DeleteFriendsActivity"
            android:label="@string/title_activity_delete_friends"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
